.about-page {
  height: 1400px;
  width: 100%;

  .about-section {
    .about-image {
      width: 200px;
      height: 250px;
      object-fit: cover;
      border-radius: 1000px;
      align-self: center;
      position: relative;
      top: 70px;
    }
    .about-box {
      .about-title {
        text-align: center;
        color: white;
        font-size: 28px;
      }
      .about-text {
        width: 300px;
        font-size: 25px;
        text-align: center;
        color: white;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .about-page {
    height: 1200px;
    .about-section {
      .about-image {
        top: 0;
        //bottom: 45px;
        left: 40px;
        align-self: inherit;
        z-index: 3;
      }
      .about-box {
        .about-title {
          width: 75%;
          margin-left: 12.5%;
        }
        .about-text {
          width: 350px;
          margin-left: 50px;
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .about-page {
    height: 1100px;
    .about-section {
      .about-image {
        top: 30;
        //bottom: 45px;
        left: 70px;
        align-self: inherit;
        z-index: 3;
      }
      .about-box {
        .about-title {
          width: 75%;
          margin-left: 12.5%;
        }
        .about-text {
          width: 500px;
          margin-left: 0;
          align-self: center;
        }
      }
    }
  }
}
@media only screen and (min-width: 1200px) {
  .about-page {
    .about-section {
      .about-image {
        top: 30;
        //bottom: 45px;
        left: 70px;
        width: 300px;
        height: 350px;
        align-self: inherit;
        z-index: 3;
      }
      .about-box {
        .about-title {
          width: 60%;
          font-size: 40px;
          margin-left: 20%;
        }
        .about-text {
          width: 600px;
          font-size: 35px;
          margin-left: 0;
          align-self: center;
        }
      }
    }
  }
}
